.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.login-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  text-align: center;
}

.login-box p {
  margin: 8px 0;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  background: none;
  border: 1px solid #fff;
  color: var(--grey-color);
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1em;
  transition: background-color 0.3s;
}

.google-btn:hover {
  background-color: var(--bgInput-color);
  color: black;
}

.login-btn {
  width: 100%;
  padding: 10px 20px;
  color: var(--white-color);
  background-color: var(--main-color);
  cursor: pointer;
  border: 1px solid #fff;
}

.login-input,
.password-input {
  width: 95%;
  padding: 10px;
  background-color: var(--bgInput-color);
  color: var(--grey-color);
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1em;
  transition: all 0.3s;
  gap: 15px;
  margin-bottom: 12px;
}

.login-input:focus,
.password-input:focus {
  background-color: var(--white-color);
  color: var(--black-color);
}

.login-register {
  display: flex;
  font-size: 0.8em;
  margin-top: 10px;
  gap: 100px;
  color: #505050c9;
}

.login-register p {
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--grey-color);
}

.login-register p:hover {
  color: #000;
}

.login-container-login-btn {
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--grey-color);
}
