.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.register-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-box p {
  margin: 8px 0;
}

.register-box-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

/* input */

.google-btn {
  border: 1px solid #fff;
}

.register-email-input {
  grid-column: 1 / 3;
}

.register-password-input {
  grid-column: 1 / 3;
  margin: 0;
  padding: 10px;
}

.register-firstName-input,
.register-lastName-input,
.register-email-input,
.register-password-input {
  padding: 10px;
  background-color: var(--bgInput-color);
  color: var(--grey-color);
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1em;
  transition: all 0.3s;
}
.register-firstName-input:focus,
.register-lastName-input:focus,
.register-email-input:focus,
.register-password-input:focus {
  background-color: var(--white-color);
  color: var(--black-color);
}

/* register */

.register-info {
  color: var(--grey-color);
  display: flex;
  flex-direction: row;
}

.register-btn {
  width: 100%;
  padding: 10px 20px;
  color: var(--white-color);
  background-color: var(--main-color);
  cursor: pointer;
  border: none;
  margin: 7px 0;
  border: 1px solid #fff;
}

.register-check {
  width: 100%;
}

.register-check-list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.register-check-list li {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  gap: 5px;
  padding: 3px 10px;
}

.register-container-login {
  display: flex;
  font-size: 0.8em;
  margin-top: 10px;
  gap: 3px;
  color: var(--grey-color);
}

.register-container-login-btn {
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--grey-color);
}

.register-container-login-btn:hover {
  color: #000;
}
